body{
    font-size:larger;
    font-family: sans-serif;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    background-color:#5d7494;
    color: #EE9F32;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    padding: 0px 10px 20px 10px;
}
input{
    width: 65%;
    /* margin: 10px auto; */
    font-size:large;

}
img{
    width: 50%;
    margin: auto;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.bloque{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px;
}
#bloque_mensaje{
    flex-direction: column;
}
#bloque_boton{
    margin: auto;
}
textarea{
    margin-top: 10px;
}
button{
    font-size: x-large;
    background-color: #EE9F32;
    border-radius: 5px;
    border:0;
    padding: 0.3em;
    margin-top: 10px;
}